doctype html
html(lang="en")
    head
        // mvp css 설치
        link(rel="stylesheet",href="https://unpkg.com/mvp.css")
        // 제이쿼리 설치
        script(src="https://code.jquery.com/jquery-3.6.3.min.js",
               integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=",
               crossorigin="anonymous")
